* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
}

.logo {
  vertical-align: middle;
  padding: 0;
  border: none;
  display: inline-block;
}

.frame {
  width: 1170px;
  margin: auto;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 7px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border: 1px solid white;
  margin-right: 5px;
}

nav a:hover {
  border-color: orange;
}

button {
  cursor: pointer;
  font-size: 20px;
  background-color: orange;
  border-radius: 7px;
  padding: 9px 20px;
  margin: 10px;
  border: none;
  outline: none;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.firstblock {
  background-image: url(../img/girl.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tabblecell {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  font-size: 25px;
  padding-left: 100px;
}

.bell {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.bell button {
  cursor: pointer;
  background-color: orange;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px 4px rgba(255, 91, 0, .5);
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bell {
  from {
    -webkit-transform: scale(.7);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(.7);
  }
}

.bell {
  -webkit-animation: bell 3s;
  animation-iteration-count: infinite;
}

.secondblock {
  position: relative;
}

.manbox {
  position: absolute;
  left: 100px;
  bottom: 20px;
}

h1, p {
  text-align: center;
}

.blockright {
  padding-left: 500px;
  padding-right: 200px;
}

.displaytable {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.manboximg {
  height: 100%;
  max-height: 300px;
}

.blockright p {
  text-align: left;
}

.backorange {
  background-color: orange;
}
