/*quantity-количество,*/
.gradient{
  background: linear-gradient(to right ,#1D976C, #93F9B9);
}
.card{
  padding-top: 5px;
  background-color: white;
  margin: 20px auto;
  width: 220px;
  height: 320px;
  border-radius: 8px;

}

.imgproduct {
width: 100%;
  }

  .left{
    float: left;
    width: 110px;

  }


.right {

  color: grey;
  float: left;
}
.quantity{
  width: 40px;
  height: 17px;
}

.button{
  color: white;
  margin: auto;
  background: forestgreen;
  height: 30px;
  width: 190px;
}
.calculationcard {
  color: green;
}

.button:hover {
  background: chartreuse;
}

.secondblock{
  padding-top: 10px;
  padding-left: 12px;
  height: 40px;
border-top:1px solid gray;

}
