/*quantity-количество,*/
.gradient{
  background: linear-gradient(to right ,#1D976C, #93F9B9);
}
.card{
  padding-top: 5px;
  background-color: white;
  margin: 20px auto;
  width: 220px;
  height: 300px;
  border-radius: 8px;
  position: relative;
}

.imgproduct {
background-size: contain;
width: 100%;
border-bottom: 1px solid gray;
  }

  .left{
    color: grey;
    position: absolute;
    width: 90px;
    right: 0px;
  }

  .quantity{
    width: 40px;
    height: 17px;
  }
.right {
  position: absolute;
  left: 5px;
}

.button{
  color: white;
  position: absolute;
  bottom: 7px;
  left: 15px;
  background: forestgreen;
  height: 30px;
  width: 190px;
}
.calculationcard {
  color: green;
}
