.name {

    position: absolute;
    top: -50px;
    width:100%;
    color: white;
    font-family: "Lucida Grande", Sans-Serif;
    font-size: 18px;
}
.ttr{

  margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  text-align: center;
}

.ttr th {
border-color: white;
border-width: 0 1px 1px 0;
border-style: solid;
background: green;
color: white;
padding: 10px 20px;
}

.ttr td {
padding: 10px 20px;
background: #F8E391;
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}



.block1 {
  margin: auto;
  width: 960px;
  padding-top: 40px;
}

.card {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background-color: white;
  margin: 25px 1.5%;
  width: 30%;
  border-radius: 8px;
  /*overflow: hidden;*/
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: -15px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
}


body {
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    font-family: sans-serif;
    background-size: cover;
}
.card img {
  width: 100%;
  margin-top: 7px;
}

.card .content {
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card .content .price {
  float: left;
  width: 50%;
}

.card .content .price .rate {
  font-size: 24px;
  color: gray;
  line-height: 80%;
}

.card .content .price .total_price {
  color: forestgreen;
  font-size: 14px;
}

.card .content .count {
  width: 50%;
  float: right;
  text-align: right;
}

.card .content .count label {
  font-size: 14px;
  color: grey;
}

.card .content .count input {
  width: 70px;
  height: 35px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 24px;
  text-indent: 20px;
  color: grey;
  vertical-align: middle;
}

.card .content .add_to_cart {
  color: white;
  width: 100%;
  background: forestgreen;
  height: 50px;
  margin-top: 15px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.card .content .add_to_cart i {
  margin-right: 5px;
}

.card .content .add_to_cart:hover {
  background: limegreen;
}

.card .content .add_to_cart:active {
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.2);
}
